:root {
  --color-1: #5e0371;
  --color-1-rgb: 94 3 113;
  --color-2: #a1007e;
  --color-3: #fdf4ff;
  --font: 'Gilroy';
  --transition: .3s ease;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font);
  font-size: 16px;
  font-weight: 400;
  position: relative;
}
@media (max-width: 1199px){
    body {font-size: 15px;}
}
@media (max-width: 991px){
    body {
      font-size: 14px;
      padding-bottom: 60px;
    }
}
@media (max-width: 575px){
    body {font-size: 12px;}
}


a, a:hover, a:focus, a:active {
  color: inherit;
  outline: none;
  text-decoration: none;
  cursor: pointer;
}
.disable {
  pointer-events: none;
  cursor: default;
}

p, label, span, a, select, div, blockquote, cite, figure, figcaption, ul, ol, dl {
  line-height: 120%;
  letter-spacing: 0.04em;
  margin-bottom: 0px;
  line-height: normal;
  margin: 0px;
  box-sizing: border-box;
  font-size: 1em;
  font-family: inherit;
}

.bg_color_1 {background-color: var(--color-1);}
.bg_color_2 {background-color: var(--color-2);}
.bg_color_3 {background-color: var(--color-3);}
.bg_white {background-color: #fff;}
.box_shad {box-shadow: 4px 4px 30px rgb(var(--color-1-rgb) / 20%);}
.box_shad2 {box-shadow: 3px 3px 15px rgba(196, 196, 196, 0.49), -3px -3px 15px rgba(196, 196, 196, 0.4);}
.br_10 {border-radius: 10px;}

/* FORMS CUSTOMIZATION */
input, input:hover, input:focus, input:active,
button, button:hover, button:focus, button:active, 
textarea, textarea:hover, textarea:focus, textarea:active,
select, select:hover, select:focus, select:active {outline: none;}

/* placeholder stylization */
input:-moz-placeholder, textarea:-moz-placeholder {color: #727272;}
input::-moz-placeholder, textarea::-moz-placeholder {color: #727272;}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {color: #727272;}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {color: #727272;}
input::-ms-input-placeholder, textarea::-ms-input-placeholder {color: #727272;}
input::placeholder, textarea::placeholder {color: #727272;}

input, textarea, select {
  border: 3px solid var(--color-1);
  background-color: #fff;
  border-radius: 2em;
  padding: 1em 1.5em;
  width: 100%;
  line-height: normal;
  box-shadow: unset;
}

/* SELECT simple */
select {
  appearance:none;
  -webkit-appearance:none;
  -moz-appearance:none;
  -ms-appearance:none;
  background-image: url(../images/icons/down.png);
  background-repeat: no-repeat;
  background-position: 95% 50%;
  background-size: 1em auto;
  position: relative;
}
select::-ms-expand { /* for IE 11 */display: none;}
select:hover {cursor: pointer;}

/* checkbox customization */
label {
  display: flex;
  align-items: center;
}
label span {flex: 1;}
input[type="checkbox"] {
  appearance:none;
  -webkit-appearance:none;
  -moz-appearance:none;
  -ms-appearance:none;
  box-shadow: none;
  padding: 0px;
  border: 3px solid var(--color-1);
  border-radius: 5px;
  height: 1em;
  min-height: unset;
  width: 1em;
  position: relative;
  box-sizing: content-box;
  margin-right: .25em;
}
input[type="checkbox"]:checked::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: .5em;
  height: .9em;
  border: 0 solid #000;
  border-width: 0 2px 2px 0;
  transform: rotateZ(40deg);
  margin: .15em .3em;
}

/* radiobutton customization */
input[type="radio"] {
    appearance:none;
    -webkit-appearance:none;
    -moz-appearance:none;
    -ms-appearance:none;
    box-shadow: none;
    border: 2px solid var(--color-2);
    border-radius: 50%;
    height: 1em;
    width: 1em;
    position: relative;
    box-sizing: content-box;
    margin-right: .25em;
}
input[type="radio"]:checked::after {
    content: "";
    position: absolute;
    top: 25%;
    left: 25%;
    width: 50%;
    height: 50%;
    background-color: var(--color-1);
    border-radius: 50%;
}


/* кнопки */
button {
  background: none;
  border: none;
  padding: unset;
  display: block;
}
button:hover, button:focus, button:active {cursor: pointer;}
.btn-main {
  border-radius: 2em;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  line-height: normal;
  padding: 1em 1.5em;
  text-align: center;
  font-weight: 700;
  transition: var(--transition);
  text-transform: uppercase;
}
.btn-main:hover, .btn-main:focus, .btn-main:active {cursor: pointer;}
.btn-1 {
  color: #fff;
  background-color: var(--color-1);
  border: 3px solid var(--color-1);
}
.btn-1:hover, .btn-1:focus, .btn-1:active {
  color: #fff;
  background-color: var(--color-2);
  border: 3px solid var(--color-2);
}
.btn-2 {
    color: var(--color-1);
    background-color: #fff;
}
.btn-2:hover, .btn-2:focus, .btn-2:active {
    color: var(--color-2);
    background-color: var(--color-3);
}
button.next {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
button.next div.next_icon {
    background-color: #fff;
    color: #000;
    border: 3px solid var(--color-1);
    width: 2em;
    height: 2em;
    font-size: 1.25em;
    line-height: 1em;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .2s;
}
button.next:hover div.next_icon {
    background-color: var(--color-1);
    color: #fff;
}

button[aria-haspopup="false"]::after {content: unset;}

.btn_collapse::before {content: "Загрузить ещё";}
.btn_collapse[aria-expanded="true"]::before {content: "Скрыть";}


/* TEXT STYLIZATION */
h1, h2, h3, h4, h5 {font-family: var(--font);}
h1 {
  font-size: 4em;
  text-transform: uppercase;
  font-weight: 600;
  text-align: left;
  line-height: 120%;
  letter-spacing: 0.04em;
  margin-bottom: .5em;
}
h2 {
  text-align: left;
  font-size: 2em;
  font-weight: 700;
  margin-bottom: .6em;
}
h3 {
  text-align: left;
  font-size: 1.3em;
  font-weight: 700;
  margin-bottom: 1em;
}
h4 {
  text-align: left;
  font-size: 1.1em;
  font-weight: 700;
  margin-bottom: 1em;
}
@media (max-width: 1399px){h1 {font-size: 3em;}}
@media (max-width: 991px){h1 {font-size: 2.5em;}}
@media (max-width: 575px){
  h1 {font-size: 1.8em;}
  h2 {font-size: 1.5em;}
}

.fs-08 {font-size: .8em;}
.fs-09 {font-size: .9em;}
.fs-11 {font-size: 1.1em;}
.fs-12 {font-size: 1.2em;}
.fs-13 {font-size: 1.3em;}
.fs-14 {font-size: 1.4em;}
.fs-15 {font-size: 1.5em;}
.fs-16 {font-size: 1.6em;}
.fs-17 {font-size: 1.7em;}
.fs-18 {font-size: 1.8em;}
.fs-19 {font-size: 1.9em;}
.fs-20 {font-size: 2em;}
.white {color:#fff;}
.black {color: #000;}
.color-1 {color: var(--color-1);}

.fw-1 {font-weight: 100;} /* thin */
.fw-2 {font-weight: 200;} /* extra-light */
.fw-3 {font-weight: 300;} /* !light */
.fw-4 {font-weight: 400;} /* !regular */
.fw-5 {font-weight: 500;} /* !medium */
.fw-6 {font-weight: 600;} /* !semi-bold */
.fw-7 {font-weight: 700;} /* !bold */
.fw-8 {font-weight: 800;} /* !extra-bold */
.fw-9 {font-weight: 900;} /* black */
.itlc {font-style: italic;}
.norm {font-style: normal;}

.flex-1 {flex:1;}

/****** ICONS ******/
.icon-bg {
  width: 4.5em;
  height: 4.5em;
  border-radius: 50%;
  padding: .5em;
  background-color: var(--color-1);
}
.icon-bg img {
  width: 100%;
  height: 100%;
  object-fit: scale-down;
  object-position: center;
}
@media (max-width: 575px){
  .icon-bg {
    width: 3em;
    height: 3em;
  }
}


/********** sliders ************/
.swiper-5 {overflow: hidden;}
@media (max-width: 767px){
  .swiper-5 {
    position: relative;
    padding-top: 3em;
  }
}
.swiper-pagination {
    top: 0;
    right: 2em;
}
.swiper-pagination-bullet {
    background-color: var(--gray);
    opacity: .3;
    width: 10px;
    height: 10px;
    border-radius: 0;
}
.swiper-pagination-bullet-active {
    background-color: var(--gray);
    opacity: 1;
}
.swiper-pagination-fraction {
    top: .5em;
    right: 5rem;
    left: unset;
    bottom: unset;
    width: fit-content;
    font-size: 1.3em;
    font-weight: 700;
}
.swiper-button-prev::after, .swiper-button-next::after {content: unset;}
.swiper-button-prev, .swiper-button-next {
    background-color: #fff;
    color: #000;
    border: 3px solid var(--color-1);
    top: 0;
    width: 2em;
    height: 2em;
    font-size: 1.25em;
    line-height: 1em;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    transition: .2s;
}
.swiper-button-next {right: 1rem;}
.swiper-button-prev {
    right: 9rem;
    left: unset;
}
.swiper-button-prev:hover, .swiper-button-next:hover,
.swiper-button-prev:active, .swiper-button-next:active {
    background-color: var(--color-1);
    color: #fff;
}


/* Modals & Offcanvas */
.offcanvas {
  background: #FFFFFF;
  box-shadow: 0px -1px 6px rgba(0, 0, 0, 0.06);
  border-radius: 32px 32px 0px 0px;
  overflow: hidden;
  height: fit-content;
  max-height: 100vh;
}
.offcanvas-header {
  position: relative;
  padding: 1.5em;
}
.offcanvas-body {padding: 0 1rem 1rem;}
.offcanvas .oc-close {
  position: absolute;
  top: 1.5em;
  right: 1.5em;
  z-index: 10;
  background-color: #F6F6F6;
  font-size: 1em;
  width: 1.6em;
  height: 1.6em;
  border-radius: 50%;
}
.offcanvas .oc-close svg {
  width: .75em;
  height: .75em;
  fill: none;
}
.offcanvas .oc-close svg path {
  stroke: #C8C8C8;
  stroke-linecap: round;
}

.mobile-contacts-menu li:not(:first-child){margin-top: .75em;}
.mobile-contacts-menu a,
.mobile-contacts-menu button {
  width: 100%;
  font-size: 1.3em;
  font-weight: 600;
  display: flex;
  align-items: center;
  background-color: #F6F6F6;
  padding: .5em;
  border-radius: 2em;
}
.mobile-contacts-menu a img,
.mobile-contacts-menu button img{
  margin-right: 1em;
  width: 3em;
  width: 3em;
}

.modal-dialog {
  width: calc(100% - 60px);
  max-width: 1400px;
}
.modal-content {
  position: relative;
  background: #FFFFFF;
  border: 3px solid var(--color-1);
  border-radius: 2em;
  padding: 2em;
}
.close {
  font-size: 3em;
  font-weight: 700;
  line-height: .7em;
  color: var(--color-1);
  text-shadow: unset;
  opacity: .5;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 100;
}
.close:hover {
  color: var(--color-1);
  opacity: 1;
}
@media (max-width: 767px){
    .modal-dialog {width: calc(100% - 1rem);}
}
@media (max-width: 575px){
    .modal-content {padding: 1em;}
    .close {
        top: 2px;
        right: 2px;
    }
}


/* Шапка */
header .container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
.logo img {width: 360px;}
.head_callback {
  text-align: right;
  width: 50%;
}
@media (max-width: 1399px){
  .logo img {width: 270px;}
}
@media (max-width: 575px){
  .logo img {width: 220px;}
}


/* Меню */
header nav {
  width: fit-content;
  width: moz-fit-content;
  padding: 0 !important;
  color: #000;
}
header nav li:not(:first-child){margin-left: 1em;}
header nav a {
  font-weight: 500;
  transition: var(--transition);
}
header nav a:hover, header nav a:focus, header nav a:active {
  color: var(--color-2);
}
.nav-link {
  margin: 0;
  font-size: 1em;
  border-bottom: 1px solid transparent;
  font-weight: 400;
}
.nav-link:hover, .nav-link:focus, .nav-link:active {font-weight: 700;}
.navbar-toggler {padding: .25rem 0;}
.navbar-toggler .navbar-toggler-icon {
  display: block;
  height: 3px;
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: var(--color-1);
}


/************
section 1 - главный баннер
************/
.sec-1{
  background-image: url(../images/bg/bg1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #fff;
  padding: 10% 0;
  position: relative;
  overflow: hidden;
}
.sec-1 .container {
  position: relative;
  z-index: 10;
}
.sec-1 .bg-1 {
  position: absolute;
  top: 0%;
  right: 0%;
  bottom: 0%;
  width: 35%;
  object-fit: cover;
  object-position: left bottom;
  z-index: 1;
}
.sec-1 .bg-2 {
  position: absolute;
  top: 0%;
  right: 0%;
  bottom: 0%;
  width: 45%;
  object-fit: cover;
  object-position: left top;
  z-index: 2;
}
.sec-1 .bg-3 {
  position: absolute;
  top: 0%;
  right: 0%;
  bottom: 0%;
  width: 35%;
  height: 100%;
  object-fit: contain;
  object-position: right bottom;
  z-index: 3;
}
@media (max-width: 991px){
  .sec-1 .bg-1, .sec-1 .bg-2, .sec-1 .bg-3 {display: none;}
}
@media (max-width: 575px){
  .sec-1 .fs-16 {font-size: 1.1em;}
}


/************
section 2 - преимущества
************/
.sec-2 {
  position: relative;
  z-index: 20;
  margin-top: -2.5em;
  margin-bottom: 5em;
}
.plus {
  background: #FFF;
  border: 3px solid var(--color-1);
  border-radius: 10px;
  padding: 1em;
  text-align: center;
  height: 100%;
}
.plus .icon-bg {
  margin: -3.8em auto 1em;
}
@media (max-width: 991px){
  .sec-2 {margin-top: -1.5em;}
}
@media (max-width: 767px){
  .sec-2 {margin-top: 2em;margin-bottom: 3em;}
  .plus {height: 100%;}
  .plus .icon-bg {margin: 0 auto 1em;}
}

/************
section 3 - Имплантация зубов - видео
************/
.video-wrap {position: relative;}
.video-wrap a {display: block;}
.video-wrap video {
  width: 100%;
  height: 245px;
  object-fit: cover;
  display: block;
}
.stretch-img {
  width: 100%;
  height: 307px;
  object-fit: cover;
}
@media (max-width: 1399px){
  .video-wrap video {height: 220px;}
  .stretch-img {height: 301px;}
}
@media (max-width: 1199px){
  .video-wrap video {height: 190px;}
  .stretch-img {height: 268px;}
}
@media (max-width: 991px){
  .video-wrap video {height: 140px;}
  .stretch-img {height: 228px;}
}
@media (max-width: 767px){
  .video-wrap video {height: 155px;}
}
@media (max-width: 575px){
  .video-wrap video {height: 56vw;}
}
.service {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.service h4 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  height: 2.4em;
}
.service img.img_serv {
  width: 100%;
  height: 180px;
  object-fit: cover;
}
@media (max-width: 1399px){
  .service img.img_serv {height: 13vw;}
  .service figcaption {font-size: .9em;}
}
@media (max-width: 1199px){
  .service img.img_serv {height: 170px;}
}
@media (max-width: 991px){
  .service img.img_serv {height: 200px;}
}
@media (max-width: 767px){
  .service img.img_serv {height: 150px;}
}
@media (max-width: 575px){
  .service img.img_serv {height: 55vw;}
}


/************
section 4 - Как проходит имплантация
************/
.step_bg {
  padding: 0 10px 10px 0;
  background: linear-gradient(-33.91deg, var(--color-1) 0%, transparent 34.64%);
  border-radius: 10px;
  height: 100%;
}
.step {
  position: relative;
  padding: 2em;
  height: 100%;
}
@media (max-width: 1199px){
  .step {padding: 1.5em;}
}


/************
section 5 - Преимущества имплантации
************/
.sec-5 {
  background-image: url(../images/bg/leaves1.png), url(../images/bg/leaves2.png);
  background-repeat: no-repeat;
  background-position: 2% 95%, 106% 5%;
  background-size: auto 45%, auto 50%;
  background-color: var(--color-3);
}
.sec-5 .container {
  position: relative;
}
.sec-5 .photo {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 50%;
  height: 100%;
  background: url(../images/bg/circles.png) no-repeat center;
  background-size: contain;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.sec-5 .photo img {
  width: 450px;
  height: 450px;
  object-fit: cover;
  object-position: top;
  background-color: #fff;
  border-radius: 50%;
}
.sec-5 h2 {
  position: relative;
  z-index: 10;
}
.advantages {
  position: relative;
  z-index: 10;
  padding: 6em 0;
}
@media (max-width: 1399px){
  .sec-5 .photo img {
    width: 400px;
    height: 400px;
  }
}
@media (max-width: 1199px){
  .advantages {padding: 4em 0;}
  .sec-5 .photo img {
    width: 330px;
    height: 330px;
  }
}
@media (max-width: 991px){
  .advantages {padding: 2em 0;}
  .sec-5 .photo img {
    width: 250px;
    height: 250px;
  }
}
@media (max-width: 767px){
  .sec-5 .container {background-image: unset;}
  .sec-5 .photo {display: none;}
}


/************
section 7 - Акция
************/
.offer {box-shadow: 3px 3px 15px rgba(196, 196, 196, 0.49), -3px -3px 15px rgba(196, 196, 196, 0.4);}
.offer>div:first-child {
  box-shadow: inset -6px -6px 15px rgba(0, 0, 0, 0.15), inset 6px 6px 15px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.offer img {
  width: 100%;
  height: 450px;
  object-fit: cover;
}
.counter {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
}
.counter .item {
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.counter .item:not(:first-child)::before{
  content: ':';
  color: #fff;
  font-size: 2em;
  font-weight: 700;
  position: absolute;
  left: 0px;
  top: 50%;
  transform: translate(-50%, -60%);
}
.counter .item span {
  background-color: #fff;
  border-radius: 2em;
  height: 2.5em;
  width: 2.5em;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
}
.counter .item .smalltext {
  color: #fff;
  text-align: center;
  font-size: .9em;
  font-weight: 300;
}
@media (max-width: 1399px){
  .counter .item span {
    font-size: 1.75em;
  }
}
@media (max-width: 1199px){
  .offer img {height: 350px;}
}
@media (max-width: 991px){
  .offer img {height: 400px;}
}
@media (max-width: 767px){
  .offer img {height: 300px;}
}
@media (max-width: 575px){
  .offer img {height: 60vw;}
  .counter .item span {font-size: 1em;}
}


/************
section 8 - О врачах
************/
.doctor {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 40%;
  background: url(../images/bg/teeth&tools.png) no-repeat center;
  background-size: contain;
  background-position: right top;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  padding-right: 2em;
}
.doctor img {
  max-width: 65%;
  position: absolute;
  bottom: 5%;
  right: 18%;
  z-index: 1;
}
.doctor>div {
  position: relative;
  z-index: 2;
  background: linear-gradient(-33.91deg, var(--color-1) 0%, transparent 34.64%) #fff;
  border-radius: 3em;
  width: 440px;
}
.doctor>div>div {
  border-radius: 3em;
  padding: 1em 2em;
  margin: -9px 7px 9px -7px;
}
@media (max-width: 1399px){
  .doctor {
    width: 45%;
    background-size: contain;
    background-position: 100% 100%;
  }
}
@media (max-width: 1199px){
  .doctor {width: 50%;}
}
@media (max-width: 991px){
  .doctor {display: none;}
}


/************
section 9 - сертификаты врача
************/
.sec-9 .swiper-5 img {
  width: 100%;
  height: 235px;
  object-fit: cover;
}
@media (max-width: 1399px){
  .sec-9 .swiper-5 img {height: 18vw;}
}
@media (max-width: 1199px){
  .sec-9 .swiper-5 img {height: 170px;}
}
@media (max-width: 991px){
  .sec-9 .swiper-5 img {height: 150px;}
}
@media (max-width: 575px){
  .sec-9 .swiper-5 img {height: 40vw;}
}


/************
section 10 - сертификаты клиники
************/
#sec-10 .swiper-5 img {
  width: 100%;
  height: 350px;
  object-fit: cover;
}
@media (max-width: 1399px){
  #sec-10 .swiper-5 img {height: 25vw;}
}
@media (max-width: 1199px){
  #sec-10 .swiper-5 img {height: 240px;}
}
@media (max-width: 991px){
  #sec_10 .swiper-5 img {height: 215px;}
}
@media (max-width: 575px){
  #sec_10 .swiper-5 img {height: 60vw;}
}


/************
section 11 - Стоимость
************/
.sec-11 {
  background-image: url(../images/bg/leaves2.png), url(../images/bg/leaves2.png);
  background-repeat: no-repeat;
  background-position: 5% 95%, 112% 15%;
  background-size: 25% auto, 26% auto;
}
.btn_price {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #FFF;
  border: 3px solid var(--color-1);
  box-shadow: -3px -3px 5px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  padding: 1em;
}
/* .btn_price img {width: 4em;} */
.btn_price .indicator {
  background-color: #fff;
  color: #000;
  border: 3px solid var(--color-1);
  width: 2em;
  height: 2em;
  font-size: 1.5em;
  line-height: 1em;
  border-radius: 50%;
  transition: .2s;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1em;
}
.btn_price:hover .indicator {
  background-color: var(--color-1);
  color: #fff;
}
.btn_price[aria-expanded="false"] .indicator {
  transform: rotate(90deg);
}
.btn_price[aria-expanded="true"] .indicator {
  transform: rotate(-90deg);
}
.table-price td:last-child, .table-price th:last-child {text-align: right;}
.table-price td:first-child, .table-price th:first-child {text-align: left;}
@media (max-width: 767px){
  .btn_price {padding: .5em;}
  .btn_price .indicator {font-size: 1em;}
}
@media (max-width: 575px){
  .btn_price .indicator {
    border: 2px solid var(--color-1);
  }
}


/* MAP */
.map {
  overflow: hidden;
  width: 100%;
  height: 400px;
}
@media (max-width: 575px){
  .map {height: 300px;}
}


/* Подвал */
footer {
  background-color: var(--color-1);
  color: #fff;
}
footer nav.desk a {
  font-size: 1.1em;
  font-weight: 500;
  transition: var(--transition);
  border-bottom: 1px solid transparent;
}
footer nav.desk a:hover, footer nav.desk a:focus, footer nav.desk a:active {
  border-bottom: 1px solid #fff;
}
.developers {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-family: 'coco';
  font-size: 1em;
}
.developers p {
  color: #fff;
  text-align: right;
}
.developers img {
  width: 5em;
  margin-left: 10px;
}
@media (max-width: 1199px){
  footer nav.desk a {font-size: 1em;}
}
@media (max-width: 991px){
  footer {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 60px;
    z-index: 100;
    background: #FFFFFF;
    box-shadow: 0px -1px 4px rgba(197, 197, 197, 0.25);
    color: #D8D8D8;
  }
  a.scroll-link {
    transition: var(--transition);
    filter: grayscale(1);
    opacity: .2;
  }
  a.scroll-link.active {
    filter: grayscale(0);
    opacity: 1;
  }
}


.wapp {
  position: fixed;
  bottom: 2em;
  right: 2em;
  width: 3em;
  height: 3em;
  z-index: 1000;
}
.wapp img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
@media (max-width: 991px){
  .wapp {display: none;}
}


/* Шрифты */
@font-face {
  font-family: 'coco';
  src: url('../fonts/CocoBiker Regular-trial.ttf');
}